.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: gray;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
  background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/628570/7abb3bdf7528ed0a578798e99634d0476cfc1a82.jpg");
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
  color: blueviolet;
}

.wrapper {
  margin: 10px auto;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
}
h3{
    color: yellowgreen;
}